pandas
scikit-learn
numpy
transformers
torch 
torchvision
unsloth
fastapi[standard]
uvicorn
pydantic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
databases[sqlite]
alembic
jinja2
mailgun
qrcode